div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
table {
  width: 80%;
}
caption {
  caption-side: bottom;
  margin-top: 10px;
}
th {
  padding: 5px;
}
td {
  text-align: center;
}
button {
  width: 25%;
  height: 50px;
  margin-top: 12px;
}
